<section class="contacts section-offset" id="contacts">
  <div class="container">
    <div class="contacts__bg-logo">
      <picture>
        <source srcset="../img/bg-footer.avif" type="image/avif">
        <source srcset="../img/bg-footer.webp" type="image/webp">
        <img loading="lazy" src="../img/bg-footer.png" class="contacts__logo" width="750" height="800" alt="Стул с цветком">
      </picture>
    </div>
    <div class="contacts__form-block">
      <!-- <h2 class="contacts__title title">Заказать обратный звонок</h2> -->
      <form action="#" class="contacts__form form">
        <h2 class="contacts__title title">Заказать обратный звонок</h2>

        <div class="contacts__container">
          <label class="contacts__label">
            <input type="text" name="Имя" class="input-reset contacts__input contacts__name" placeholder="Имя">
          </label>
          <label class="contacts__label">
            <input type="tel" name="Имя" class="input-reset contacts__input contacts__tel" placeholder="+375(29) 999-88-77">
          </label>
        </div>
        <button class="btn-reset contacts__btn">Позвоните мне</button>
        <p class="contacts__policy">Нажмимая кнопку, Вы принимаете условия политики пользовательского соглашения</p>
      </form>
    </div>
  </div>
</section>
