<footer class="footer section-offset">
  <div class="container">
<ul class="footer__list footer__container">
  <li class="footer__item">
    <a href="/" class="footer__logo">FurniCare</a>
    <a href="#" class="footer__link">Соглашение на обработку персональных данных</a>
    <a href="#" class="footer__link">Политика конфиденциальности</a>
  </li>
  <li class="footer__item">
    <h3 class="footer__title">Адрес</h3>
    <p class="footer__adress">Республика Беларусь, г. Минск
    пр-т. Независимости 30
    </p>
  </li>
  <li class="footer__item">
    <h3 class="footer__title">Контакты</h3>
    <a href="tel:80299998877" class="footer__link footer__link_color">8-029-999-88-77</a>
    <a href="mailto:example@yandex.ru" class="footer__link footer__link_color">info@furnicare.com</a>
  </li>
</ul>
  </div>
</footer>
