<section class="home">
  <div class="container">
    <h2 class="home__title">
      Мебель для офиса и дома
    </h2>
    <div class="home__subtitle">
      Собственное производство из экологически чистых материалов
    </div>
    <div class="home__call">
      <a href="tel:+375297776655" class=" home__link">Заказать звонок</a>
    </div>
    <div class="social-block">
      <a href="" class="social-block__link">
        <img loading="lazy" src="../img/svg/vkontakte.svg" class="image social-block__image-size" width="35" height="35"
          title="Посетить нашу страницу вконтакте" alt="Посетить нашу страницу вконтакте">
      </a>
      <a href="" class="social-block__link">
        <img loading="lazy" src="../img/svg/instagramm.svg" class="image social-block__image-size" width="35"
          height="35" title="Посетить нашу страницу в instagramm" alt="Посетить нашу страницу в instagramm">
      </a>
      <a href="" class="social-block__link">
        <img loading="lazy" src="../img/svg/facebook.svg" class="image social-block__image-size" width="35" height="35"
          title="Посетить нашу страницу в Facebook" alt="Посетить нашу страницу в Facebook">
      </a>
      <a href="" class="social-block__link">
        <img loading="lazy" src="../img/svg/youtube.svg" class="image social-block__image-size" width="35" height="35"
          title="Посетить нашу страницу на YouTube" alt="Посетить нашу страницу на YouTube">
      </a>
    </div>
  </div>
</section>
