<section class="project section-offset" id="project">
  <div class="container">
    <div class="project__title title">Наши проекты</div>
    <div class="project__wrapper">
      <ul class="project__list project__container">
        <li class="project__item">
          <picture>
            <source srcset="img/work/one.avif" type="image/avif">
            <source srcset="img/work/one.webp" type="image/webp">
            <img loading="lazy" src="img/work/one.jpg" class="image project__image" width="100%" height="100%" alt="Примеры наших работ из дерева">
          </picture>
        </li>
        <li class="project__item">
          <picture>
            <source srcset="img/work/two.avif" type="image/avif">
            <source srcset="img/work/two.webp" type="image/webp">
            <img loading="lazy" src="img/work/two.jpg" class="image project__image" width="100%" height="100%" alt="Примеры наших работ из дерева">
          </picture>
        </li>
        <li class="project__item">
          <picture>
            <source srcset="img/work/three.avif" type="image/avif">
            <source srcset="img/work/three.webp" type="image/webp">
            <img loading="lazy" src="img/work/three.jpg" class="image project__image" width="100%" height="100%" alt="Примеры наших работ из дерева">
          </picture>
        </li>
        <li class="project__item">
          <picture>
            <source srcset="img/work/four.avif" type="image/avif">
            <source srcset="img/work/four.webp" type="image/webp">
            <img loading="lazy" src="img/work/four.jpg" class="image project__image" width="100%" height="100%" alt="Примеры наших работ из дерева">
          </picture>
        </li>
      </ul>

      <a href="/catalog" class="project__catalog">Перейти в каталог</a>
    </div>
  </div>
</section>
