<section class="questions section-offset" id="questions">
  <div class="container">
    <div class="questions__title title">
      Частые вопросы
    </div>

    <div class="questions__container">
      <div class="questions__image">
        <picture>
          <source srcset="../img/questions.avif" type="image/avif">
          <source srcset="../img/questions.webp" type="image/webp">
          <img loading="lazy" src="../img/questions.jpg" class="questions__img" width="548" height="548" alt="Ответы на вопросы">
        </picture>
      </div>

      <div class="questions__list-block">
        <ul class="questions__list">
          <li class="questions__item">
            <div class="questions__item-title">Из чего делают Мебель
              <span class="questions__icon">
                <svg class="questions__icon-svg">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </span>
            </div>
            <div class="questions__item-description">
              Только из экологически чистых матриалов. Ангарская сосна, береза, бук.
            </div>
          </li>
          <li class="questions__item">
            <div class="questions__item-title">Можно ли заказать что-то кроме столов и стульев?
              <span class="questions__icon">
                <svg class="questions__icon-svg">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </span>
            </div>
            <div class="questions__item-description">
              Да, возможность заказаиных позици присутствует. Предварительно свяжитесь с менеджером для уточнения деталей.
            </div>
          </li>
          <li class="questions__item">
            <div class="questions__item-title">Куда вы доставляете мебель?
              <span class="questions__icon">
                <svg class="questions__icon-svg">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </span>
            </div>
            <div class="questions__item-description">
              Вся изготавливаемая нами продукция доставляется на указанный клиентом адрес доставки.
            </div>
          </li>
          <li class="questions__item">
            <div class="questions__item-title">Можно ли воспользоваться самовывозом?
              <span class="questions__icon">
                <svg class="questions__icon-svg">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </span>
            </div>
            <div class="questions__item-description">
              Да, такая возможность есть. Во время заказа мебели сообщите менеджеру что Вы желаете забрать свой заказ самостоятельно.
            </div>
          </li>
          <li class="questions__item">
            <div class="questions__item-title">Можно ли вернуть товар, если мне не понравится?
              <span class="questions__icon">
                <svg class="questions__icon-svg">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </span>
            </div>
            <div class="questions__item-description">
              Если позиция была куплена у нас в магазине, то да. Если же позиция была изготовлена по индивидуальному дизайну, то, к сожалению, нет.
            </div>
          </li>
          <li class="questions__item">
            <div class="questions__item-title">Помогаете ли вы со сборкой?
              <span class="questions__icon">
                <svg class="questions__icon-svg">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </span>
            </div>
            <div class="questions__item-description">
              Если у Вас возникает такая необходимость, наши специалисты с радостью окажут Вам помощь при сборке мебели.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
