<section class="reviews section-offset" id="reviews">
  <div class="container">
    <div class="reviews__title title">
      Отзывы наших клиентов
    </div>
    <div class="reviews__wrapper">
      <div class="swiper reviews__container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="reviews__slides">
              <div class="reviews__image">
                <picture>
                  <source srcset="../img/person/one.avif" type="image/avif">
                  <source srcset="../img/person/one.webp" type="image/webp">
                  <img loading="lazy" src="../img/person/one.jpg" class="reviews__img" width="" height="" alt="">
                </picture>
              </div>
              <div class="reviews__name">Екатерина Щербакова</div>
              <p class="reviews__description">Стул сделали добротно, ни намека на возможность занозы или острых углов.
                Все обработано, покрытие качественное. Сиденье и подножка покрыты эмалью. Спасбио за качество и работу!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__slides">
              <div class="reviews__image">
                <picture>
                  <source srcset="../img/person/two.avif" type="image/avif">
                  <source srcset="../img/person/two.webp" type="image/webp">
                  <img loading="lazy" src="../img/person/two.jpg" class="reviews__img" width="" height="" alt="">
                </picture>
              </div>
              <div class="reviews__name">Сергей Малиновский</div>
              <p class="reviews__description">Стул сделали добротно, ни намека на возможность занозы или острых углов.
                Все обработано, покрытие качественное. Сиденье и подножка покрыты эмалью. Спасбио за качество и работу!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__slides">
              <div class="reviews__image">
                <picture>
                  <source srcset="../img/person/three.avif" type="image/avif">
                  <source srcset="../img/person/three.webp" type="image/webp">
                  <img loading="lazy" src="../img/person/three.jpg" class="reviews__img" width="" height="" alt="">
                </picture>
              </div>
              <div class="reviews__name">Мария Савина</div>
              <p class="reviews__description">Стул сделали добротно, ни намека на возможность занозы или острых углов.
                Все обработано, покрытие качественное. Сиденье и подножка покрыты эмалью. Спасбио за качество и работу!
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__slides">
              <div class="reviews__image">
                <picture>
                  <source srcset="../img/person/four.avif" type="image/avif">
                  <source srcset="../img/person/four.webp" type="image/webp">
                  <img loading="lazy" src="../img/person/four.jpg" class="reviews__img" width="" height="" alt="">
                </picture>
              </div>
              <div class="reviews__name">Марина Адаменко</div>
              <p class="reviews__description">Стул сделали добротно, ни намека на возможность занозы или острых углов.
                Все обработано, покрытие качественное. Сиденье и подножка покрыты эмалью. Спасбио за качество и работу!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews__nav">
        <div class="reviews__prev">
          <svg class="reviews__prev-slide">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
        <div class="reviews__next">
          <svg class="reviews__next-slide">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
